.frame
  section class="intro"
    .icon-background
    i class="fa-brands fa-github"
    .text 8 queens problem
    .footer
      <p> Another thing from         
        a(href='https://github.com/onon1101')onon1101
      </p>
  section class="first"
    .left-side
      .introduce $$Q_{1}=\bigwedge_{i=1}^{n}\bigvee_{j=1}^{n}p(i,j)$$
      .output
    .borad
      .sensors
        / .sensor-1
        .sensor-2
      - for i in (1..8)
        div class="check-#{ i }"
          - for j in (1..8)
            div class="check-#{ i }-#{ j }" 
  section class="second"
    .left-side
      .introduce $$Q_{2}=\bigwedge_{i=1}^{n}\bigwedge_{j=1}^{n-1}\bigvee_{k=j+1}^{n}(\neg p(i,j) \vee \neg p(i,k))$$
      .output
    .borad
      .sensors
        div class="sensor-1"
        div class="sensor-2"
      - for i in (1..8)
        div class="check-#{ i }"
          - for j in (1..8)
            div class="check-#{ i }-#{ j }"
  section class="third"
    .left-side
      .introduce $$Q_{3}=\bigwedge_{j=1}^{n}\bigwedge_{i=1}^{n-1}\bigvee_{k=i+1}^{n}(\neg p(i,j) \vee \neg p(k,j))$$
      .output
    .borad
      .sensors
        .sensor-1
        .sensor-2
      - for i in (1..8)
        div class="check-#{ i }"
          - for j in (1..8)
            div class="check-#{ i }-#{ j }"
  section class="fourth"
    .left-side
      .introduce $$Q_{4}=\bigwedge_{i=2}^{n}\bigwedge_{j=1}^{n-1}\bigvee_{k=1}^{min(i-1,n-j)}(\neg p(i,j) \vee \neg p(i-k,k+j))$$
      .output
    .borad
      .sensors
        div class="sensor-1"
        div class="sensor-2"
      - for i in (1..8)
        div class="check-#{ i }"
          - for j in (1..8)
            div class="check-#{ i }-#{ j }"
  section class="fifth"
    .left-side
      .introduce $$Q_{5}=\bigwedge_{i=1}^{n-1}\bigwedge_{j=1}^{n-1}\bigvee_{k=1}^{min(n-i,n-j)}(\neg p(i,j) \vee \neg p(i+k,j+k))$$
      .output
    .borad
      .sensors
        .sensor-1
        .sensor-2
      - for i in (1..8)
        div class="check-#{ i }"
          - for j in (1..8)
            div class="check-#{ i }-#{ j }"